require ["fileinto", "envelope", "imap4flags", "mailbox"];
# mailbox is required to create folders if they do not exist
# refresh the folder list in your IMAP client and subscribe new folders

# Spam filter
# X-Spam-Score: 5.
# X-Spam-Level: *****
if exists "X-Spam-Flag" {
		if header :contains "X-Spam-Level" "*****" {
		  fileinto :create "spam";
		    addflag "\\seen";
		stop;
		}
}


# bugs
if envelope :is "from" "bugzilla-daemon@gentoo.org" {
  fileinto :create "INBOX.bugs";
  stop;
}

if header :contains "List-Id" "gentoo-commits.gentoo.org" {
	fileinto :create "INBOX.lists.-commits";
	stop;
}

if header :contains "List-Id" "gentoo-core.gentoo.org" {
	fileinto :create "INBOX.lists.-core";
	stop;
}

if header :contains "List-Id" "gentoo-core.gentoo.org" {
	fileinto :create "INBOX.lists.-core";
	stop;
}

if header :contains "List-Id" "gentoo-dev.gentoo.org" {
	fileinto :create "INBOX.lists.-dev";
	stop;
}

if header :contains "List-Id" "gentoo-dev-announce.gentoo.org" {
	fileinto :create "INBOX.lists.-dev-announce";
	stop;
}

if header :contains "List-Id" "gentoo-project.gentoo.org" {
	fileinto :create "INBOX.lists.-project";
	stop;
}

if header :contains "List-Id" "gentoo-announce.gentoo.org" {
	fileinto :create "INBOX.lists.-announce";
	stop;
}

if header :contains "List-Id" "gentoo-proxy-maint.gentoo.org" {
        fileinto :create "INBOX.Herds.proxy-maintainers";
        stop;
}

if header :contains "List-Id" "gentoo-nfp.gentoo.org" {
	fileinto :create "INBOX.lists.-nfp";
	stop;
}
